.advantage {
  text-transform: uppercase;
  text-align: center;
  background-color: @bg-3-5;
}

.advantage__title {
  .headings-mobile;
}

.advantage__list {
  .list-not;
}

.advantage__item {
  background-color: @bg-3-5;
}

.advantage__item--blue {
  color: @max-white;
  background-color: @blue-light;
  display: flex;
  flex-direction: column;

  & > .advantage__title {
    color: @max-white;
  }
}

.advantage__pics-list {
  .list-not;
  background-color: @max-white;
}

.advantage__pics-item {
  background-color: @max-white;
  color: @main-text;
  padding-left: 70px;
  text-align: left;

  & .advantage__title {
    text-align: left;
  }
}
