.advantage {
  text-transform: uppercase;
  text-align: center;
  background-color: @max-white;
  max-width: 1200px;
  align-content: center;
  margin: 0 auto;
}

.advantage__title {
  .headings-mobile;

  @media (min-width: @tablet-width) {
    .headings-desktop;
    max-width: 160px;
    text-align: center;
    align-self: center;
  }
}

.advantage__list {
  .list-not;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }
}

// Первая строка с фото и голубым фоном
.advantage__item--city {
  position: relative;
  // Декоративный вырез из мобильной версии
  &::before {
    content: "";
    width: 100%;
    min-height: 37px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../../img/white-angle-3-mobile.png") no-repeat center center;
    // background-size: cover;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // Располагаем в грид начиная с планшета и убираем декоративный вырез
    &::before {
      display: none;
    }
  }
}

.advantage__item--city .advantage__text {
  background-color: @blue-light;
  color: @max-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 12px 40px 12px;
  min-height: 227px;
  // Это костыль. иначе они сейчас расползаются шире назначенной высоты, не пойму, почему
  .advantage__title {
    color: @max-white;
    margin: 0;
  }

  .advantage__description {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    height: 256px;
    padding: 40px 36px 40px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 60px 60px 60px;
  }
}

// пытаемся правильно разместить картинку
.advantage__item--city .advantage__image {
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 256px;
  }
}

// the same for the blue stripe with bridge photo
.advantage__item--bridge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}


.advantage__item--bridge .advantage__image {
  object-fit: cover;
  order: 2;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 256px;
    order: 1;
  }
}

.advantage__item--bridge .advantage__text {
  color: @max-white;
  background-color: @blue-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 39px 20px 35px 20px;
  min-height: 191px;
  order: -1;


  .advantage__title {
    color: @max-white;
    margin: 0;
  }

  .advantage__description {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 40px 36px 40px 36px;
    height: 256px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 80px 50px 80px;
  }
}

//  Приходится дублировать паддинги, т.к. они везде разные

//  Полоса с неномерными преимуществами и пиктограммами

.advantage__pics-list {
  .list-not;
  background-color: @max-white;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  @media (max-width: @mobile-width-only) {
    display: grid;
    grid-template-rows: 105px 84px 105px;
    row-gap: 26px;
    // height: 416px;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantage__pics-item {
  background-color: @max-white;
  color: @main-text;
  padding-left: 70px;
  text-align: left;
  min-height: 138px;

  .advantage__title {
    text-align: left;
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    text-align: center;
    padding: 155px 36px 45px 36px;

    .advantage__title {
      text-align: center;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .advantage__description {
      margin-top: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 155px 60px 65px 60px;
  }
}

.advantage__pics-item--housing {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 8% -10%;
  background-size: 40px 40px;

  @media (min-width: @tablet-width) {
    background-position: 50% 55px;
    background-size: 75px 72px;
  }
}

.advantage__pics-item--souvenirs {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 84px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 8% -10%;
  background-size: 32px 38px;

  @media (min-width: @tablet-width) {
    order: 3;
    background-position: 50% 55px;
    background-size: 76px 75px;
  }
}

.advantage__pics-item--food {
  order: 3;
  flex-basis: 105px;
  flex-shrink: 1;
  flex-grow: 0;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 7% -5%;
  background-size: 40px 35px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-position: 50% 55px;
    background-size: 70px 80px;
  }
}

.advantage__item--grey {
  background-color: @bg-3-5;
  padding: 5px 30px 40px 30px;

  @media (max-width: @mobile-width-only) {
    width: 100%;
    max-height: 167px;
    position: relative;
    // Поколдовать еще с высотой строк не могу их пока выровнять
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: @tablet-width) {
    height: 256px;
    padding: 15px 33px 40px 33px;
    align-self: stretch;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 50px 30px 50px;
  }
}

.advantage__item--grey::after {
  content: "";
  width: 280px;
  height: 1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: calc((100% - 280px) / 2);
  background-color: @deviders-bg;

  &:last-of-type::after {
    display: none;
    /// i'm giving up as of now - don't know how to remove the last line in this row
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantage__item--grey .advantage__title {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    align-self: center;
    text-align: center;
  }

  .advantage__item--grey .advantage__description {
    margin-top: 22px;
  }
}
