.interested {
  display: flex;
  flex-direction: column;
  background-color: @max-white;
  text-align: center;
  padding: 33px 20px 49px 20px;
}

.interested__intro {
  .headings-mobile;
  font-size: 21px;
  line-height: 26px;
}

.interested__proposal {
  .main-text-mobile;
  line-height: 24px;
}

.interested__find {
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}
