.intro {
  width: 100%;
  background-color: @max-white;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  position: relative;
}

.intro__picture-wrapper {
  width: 100%;
  flex-basis: 158px;
  padding-top: 52px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  text-align: center;
  position: relative;


  @media (min-width: @tablet-width) {
    flex-basis: 290px;
    flex-grow: 0;
    padding-top: 95px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @media (min-width: @desktop-width) {
    flex-basis: 301px;
    padding-top: 101px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}

.intro__picture-wrapper--index {
  flex-basis: 389px;
  padding-top: 90px;

  @media (min-width: @tablet-width) {
    flex-basis: 518px;
    padding-top: 77px;
  }

  .intro__picture {
    margin: 0 auto;
    text-align: center;

    @media (min-width: @tablet-width) {
      width: 461px;
      height: 350px;
    }

    @media (min-width: @desktop-width) {
      width: 460px;
      height: 350px;
    }
  }
}

.intro__picture {
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 78px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    height: 80px;
  }
}

.intro__headline {
  width: 100%;
  margin: 0;
  padding: 32px 20px 30px 20px;
  .headings-mobile;
  position: relative;

  //to-do: different padding in intro section for different pages

  &::before {
    content: "";
    width: 100%;
    min-height: 57px;
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat center center;
  }

  @media (min-width: @tablet-width) {
    max-width: 790px;
    padding: 43px 140px 30px 140px;
    font-size: 30px;
    line-height: 26px;

    &::before {
      content: "";
      width: 100%;
      min-height: 57px;
      display: block;
      position: absolute;
      top: -57px;
      right: 0;
      background: url("../img/bg-intro-triangle-tablet.svg") no-repeat center center;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 55px 358px 30px 358px;
    max-width: 1200px;

    &::before {
      content: "";
      width: 100%;
      min-height: 57px;
      display: block;
      position: absolute;
      top: -57px;
      right: 0;
      background: url("../img/bg-intro-triangle-desktop.svg") no-repeat center center;
    }
  }
}

.intro__headline--form {
  padding-top: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 64px;
    padding-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
  }
}

.intro__headline--photo {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
  }
}

.intro__headline--index {
  @media (min-width: @tablet-width) {
    .headings-desktop;
  }
}

.intro__description {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 20px;
  text-transform: uppercase;
  line-height: 26px;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    max-width: 500px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 140px 55px 140px;
    max-width: 790px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 358px 43px 358px;
    max-width: 1200px;
  }
}

.intro__description--photo {
  margin-bottom: 38px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
  }
}

.intro__description--form {
  line-height: 24px;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 57px;
  }
}
