.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: @max-white;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0 60px 0 60px;
    flex-direction: row;
    flex-wrap: wrap;

    :first-child {
      width: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    padding: 0;
  }
}

.photos__item {
  margin: 0;
  padding: 22px 20px 15px 20px;
  position: relative;
  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: @bg-medium-v2;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }

    :last-child {
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: @bg-medium-v2;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    min-width: 400px;
  }
}

.photos__photo {
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }
}

.photos__photo--main {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: 400px;
  }
}

.photos__description {
  @media (max-width: @mobile-width-only) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    height: 80px;
    min-width: 324px;
    padding: 15px 20px 15px 20px;
    display: grid;
    grid-template-columns: auto min-content;
    background-color: @bg-light;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    background-color: @black-transparent;
    position: absolute;
    bottom: 0;

    display: grid;
    grid-template-columns: auto min-content;
  }
}

.photos__name {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: @max-black;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (min-width: @desktop-width) {
    color: @max-white;
  }
}

.photos__author {
  margin: 0;
  line-height: 24px;
  color: @main-text;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (min-width: @desktop-width) {
    color: @max-white;
  }
}

.photos__votes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 70px;

  @media (max-width: @mobile-width-only) {
    padding-top: 10px;
  }

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.photos__voter {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  flex-basis: 23px;
  height: 21px;
  border: none;
  // background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  vertical-align: bottom;
  flex-grow: 0;
}

.photos__voter svg {
  fill: @bg-dark;

  @media (min-width: @desktop-width) {
    stroke: @max-white;
    fill: @max-white;
  }
}


.photos__counter {
  margin: 0;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: @max-black;
  padding-left: 14px;
  flex-grow: 1;

  @media (min-width: @desktop-width) {
    color: @max-white;
  }
}
