.review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    padding-top: 0;
    align-items: start;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 66px 120px;
  }
}

.review__group {
  border: none;
  margin: 0;
  padding: 20px 20px 25px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 50px;
  }
}

.review__legend {
  .headings-mobile;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    .headings-desktop;
  }
}

.review__description {
  .main-text-mobile;
  line-height: 26px;
  padding-left: 22px;
}

.review__input {
  .headings-mobile;
  text-align: left;
  text-transform: none;
  padding-left: 22px;
  background-color: @bg-light;
  min-height: 58px;
  border: 4px solid @bg-light;

  &:hover {
    background-color: @bg-medium-v2;
    border: 4px solid @bg-medium-v2;
  }

  &:focus {
    background-color: @max-white;
    border: 4px solid @bg-medium-v2;
    outline: none;
  }
}

.review__input::placeholder,
.review__input::-webkit-input-placeholder,
.review__input::-moz-placeholder {
  color: @max-black;
  //разобраться с цветом плейсхолдера
}

.review__info {
  .headings-mobile;
  text-align: left;
  text-transform: none;
  padding-left: 26px;
  //29 for checkboxes
}

.review__text {
  .headings-mobile;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  text-transform: none;
  min-width: 279px;
  min-height: 160px;
  padding: 13px 23px 29px 21px;
  background-color: @bg-light;
  border: 4px solid @bg-light;

  &:hover {
    background-color: @bg-medium-v2;
    border: 4px solid @bg-medium-v2;
  }

  &:focus {
    background-color: @max-white;
    border: 4px solid @bg-medium-v2;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    // min-width: 648px;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
  }
}

.review__group--about {
  & label {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    margin-top: 20px;
  }

  & .review__input {
    margin-left: 10px;
  }

  @media (min-width: @tablet-width) {
    min-height: 292px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-left: 1px solid @form-deviders;
    // Why it becomes 310px?? legend seems not to react to css grid & flex

    & .review__legend {
      text-align: left;
      padding: 0;
    }
  }
}

.review__group--impression {
  & label {
    min-height: 50px;
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    margin-top: 20px;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    min-height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .review__legend {
      text-align: left;
      padding: 0;
    }
  }
}

.review__contact-container {
  display: flex;
  flex-direction: column;
  position: relative;

  & label {
    position: relative;

    & ::after {
      content: "";
      width: 58px;
      height: 58px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 25px;
      background-color: @contact-icons;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  & .review__input {
    width: calc(100% - 58px);
    margin-top: 8px;
    margin-bottom: 25px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;

    & label {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: baseline;
    }

    & .review__input {
      flex-basis: 257px;
      flex-grow: 0;
      margin-left: 10px;
    }
  }
}

.review__group--contact {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 70px;
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }

    & .review__legend {
      padding: 0;
    }

    & .review__input {
      // min-width: 648px;
      width: calc(100% - 58px);
      margin-top: 8px;
      margin-bottom: 25px;
      position: relative;

      &::after {
        content: "";
        width: 58px;
        height: 58px;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: @contact-icons;
        // ?? doesn't work + needs to be applied to mobile too
      }
    }
  }

  @media (min-width: @desktop-width) {
    .review__group--contact::before,
    .review__group--visited::before,
    .review__group--text::before,
    .review__group--contact::after,
    .review__group--visited::after,
    .review__group--text::after {
      width: 280px;
    }

    .review__opt {
      display: none;
    }
  }
}


.review__group--visited {
  .review__check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    min-height: 50px;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 70px;
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }

    & .review__legend {
      padding: 0;
      width: 400px;
    }

    & .review__check-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      // Как автоматически ужимать до содержимого и центрировать? и автоматический gap в 65px
    }

    & label {
      flex-basis: 200px;
      min-height: 50px;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.review__group--text {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 70px;
    position: relative;

    &::before {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: 123px;
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }

    & .review__legend {
      padding: 0;
    }
  }
}

.review__button {
  margin-top: 51px;


  @media (min-width: @tablet-width) {
    margin-top: 58px;
  }
}

.review__notice {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 78px;
    text-transform: uppercase;
    text-align: right;
  }
}
