.review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px;
    padding-top: 0;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px 66px 120px;
    max-width: 1200px;
  }
}

.review__group {
  border: none;
  margin: 0;
  padding: 20px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 50px;
  }
}

.review__legend {
  .headings-mobile;
  padding-top: 20px;

  @media (max-width: @mobile-width-only) {
    &::before {
      content: "";
      height: 1px;
      width: 100%;
      background-color: @bg-medium-v2;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    .headings-desktop;
  }
}

.review__description {
  .main-text-mobile;
  line-height: 26px;
  // padding-left: 22px;
}

.review__input {
  .headings-mobile;
  text-align: left;
  text-transform: none;
  padding-left: 22px;
  background-color: @bg-light;
  min-height: 58px;
  border: 4px solid @bg-light;

  &:hover {
    background-color: @bg-medium-v2;
    border: 4px solid @bg-medium-v2;
  }

  &:focus {
    background-color: @max-white;
    border: 4px solid @bg-medium-v2;
    outline: none;
  }
}

.review__input::placeholder,
.review__input::-webkit-input-placeholder,
.review__input::-moz-placeholder {
  color: @max-black;
  //разобраться с цветом плейсхолдера
}

.review__info {
  .headings-mobile;
  text-align: left;
  text-transform: none;
  padding-left: 26px;
  //29 for checkboxes
}

.review__text {
  .headings-mobile;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  text-transform: none;
  min-width: 279px;
  min-height: 160px;
  padding: 9px 19px 25px 17px;
  background-color: @bg-light;
  border: 4px solid @bg-light;

  &:hover {
    background-color: @bg-medium-v2;
    border: 4px solid @bg-medium-v2;
  }

  &:focus {
    background-color: @max-white;
    border: 4px solid @bg-medium-v2;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    // min-width: 648px;
  }

  @media (min-width: @desktop-width) {
    min-width: 960px;
  }
}

// Personal info group

.review__group--about {
  padding-bottom: 5px;
  label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .review__input {
    margin-left: 13px;
    flex-shrink: 1;
  }

  .review__input--fathersname {
    width: 194px;
  }

  .review__input--surname {
    width: 192px;
  }

  .review__input--username {
    width: 230px;
  }

  @media (min-width: @tablet-width) {
    flex-basis: 50%;
    min-height: 292px;
    padding-left: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // flex-grow: 1;
    // Why it becomes 310px?? legend seems not to react to css grid & flex

    .review__legend {
      text-align: left;
      padding: 0;
    }

    .review__input {
      width: 178px;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .review__input--username {
      margin-top: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 79px;
  }
}

// Impression group

.review__group--impression {
  width: 100%;
  label {
    min-height: 50px;
    margin-top: 18px;
    position: relative;

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0;
      bottom: 10px;
      background-color: @bg-light;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  input[type="radio"]:checked + label::before {
    background-image: url("../../img/icon-dot.svg");
  }

  input[type="radio"]:hover + label::before,
  input[type="radio"]:focus + label::before {
    background-color: @bg-medium-v2;
  }

  input[type="radio"]:active + label::before {
    background-color: @bg-medium-v4;
  }

  .review__radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .review__info {
    padding-left: 78px;
  }

  @media (min-width: @tablet-width) {
    flex-basis: 50%;
    min-height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid @form-deviders;
    order: -1;
    // flex-grow: 1;

    .review__legend {
      text-align: left;
      padding: 0;
    }

    label {
      margin-top: 0;
    }

    label:nth-child(n+2) {
      margin-top: 26px;
    }
  }

  @media (min-width: @desktop-width) {
    .review__legend {
      padding-left: 80px;
    }
  }
}

// Contacts group

.review__contact-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .review__description {
    padding-left: 22px;
  }

  label {
    position: relative;

    &::after {
      content: "";
      width: 58px;
      height: 58px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 13px;
      background-color: @contact-icons;
      background-image: url("../../img/icon-phone.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .review__email::after {
    background-image: url("../../img/icon-mail.svg");
  }

  .review__input {
    width: calc(100% - 58px);
    margin-top: 7px;
    margin-bottom: 13px;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding-top: 50px;

    label {
      display: flex;
      flex-direction: row;
      // flex-grow: 1;
      justify-content: flex-start;
      align-items: baseline;
      min-width: 401px;
    }

    .review__description {
      padding: 0;
    }

    label:last-child {
      margin-left: auto;
      min-width: 481px;

      .review__description {
        min-width: 148px;
      }
    }

    .review__input {
      min-width: 257px;
      flex-grow: 1;
      // flex-shrink: 0;
      margin-left: 10px;
    }

    .review__opt {
      display: none;
    }
  }
}

.review__group--contact {
  padding-top: 10px;

  .review__legend {
    margin-bottom: 5px;
  }

  @media (min-width: @tablet-width) {
    min-width: 648px;
    flex-basis: 648px;
    flex-grow: 1;
    margin-top: 45px;
    position: relative;

    label {
      &::after {
        bottom: 25px;
      }
    }

    &::before {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }

    .review__legend {
      padding: 0;
    }

    .review__input {
      // min-width: 648px;
      width: calc(100% - 58px);
      margin-top: 8px;
      margin-bottom: 25px;
      position: relative;
    }
  }
}

// Visited group

.review__group--visited {
  .review__check-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .review__check {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .review__info {
    padding-left: 78px;
  }

  label {
    min-height: 50px;
    margin-top: 22px;
    margin-bottom: 5px;
    position: relative;

    &::before {
      content: "";
      width: 55px;
      height: 55px;
      border-radius: 5px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 10px;
      background-color: @bg-light;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  input[type="checkbox"]:checked + label::before {
    background-image: url("../../img/icon-tick.svg");
  }

  input[type="checkbox"]:hover + label::before,
  input[type="checkbox"]:focus + label::before {
    background-color: @bg-medium-v2;
  }

  input[type="checkbox"]:active + label::before {
    background-color: @bg-medium-v4;
  }

  // input[type="checkbox"]:checked + label::before {
  //   background-image: url("../../img/icon-tick.svg");
  // }

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    position: relative;
    min-width: 648px;
    flex-grow: 1;

    &::before {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 25px;
    }

    &::after {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 25px;
    }

    .review__legend {
      padding: 0;
      width: 400px;
    }

    .review__check-container {
      padding-top: 10px;
      min-height: 150px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-between;
    }

    label {
      flex-basis: 200px;
      min-height: 50px;
      margin: 0 25px;
    }
  }

  @media (min-width: @desktop-width) {
    .review__check-container {
      justify-content: space-between;
      min-height: fit-content;
    }

    label {
      margin: 0;
    }

    label:first-child {
      margin-left: 0;
    }

    label:last-child {
      margin-right: 0;
    }

    // label:nth-child(n+3) {
    //   text-align: right;
    // }
  }
}

// Text description group

.review__group--text {
  @media (min-width: @tablet-width) {
    margin-top: 60px;
    position: relative;
    flex-basis: 100%;
    flex-grow: 1;

    &::before {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }

    &::after {
      content: "";
      height: 1px;
      width: calc((100% - 400px) / 2);
      background-color: @form-deviders;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }

    .review__legend {
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    // margin-top: 0;

    .review__group--text::after {
      width: 280px;
    }
  }
}

// Button

.review__button {
  width: 280px;
  margin-top: 35px;
  margin-bottom: 48px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 0;
    flex-basis: 50%;
  }
}

.review__notice {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-top: 83px;
    text-transform: uppercase;
    text-align: right;
    margin-left: auto;
  }
}
